#*********************** File Tree IGNORE FILES **************************
#*************************************************************************
output/
JLinkLog.txt
JLink*.*
!dsp/*.bin
*.log
build_log.txt
temp.txt

#************************word*************************
#******************************************************
~$*


#*************************Keil*************************

*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui*
*.saved*

#************** vi 
*.swp
*.TMP
*.scvd
/harman/
/pulse4_*
*.PR
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PRI
*.PS
*.orig
**/__pycache__/
/corebt/va9638b_bt.uvopt
*.uvopt
*.uvopt
*.uvopt
!corebt/va9638p_bt.uvopt
/get_all_flies.sh
/coretop/get_all_flies.sh
/corebt/get_all_flies.sh
*.si4project
.cache
compile_commands.json
corebt/build
coretop/build
temp.txt
/html/
.eide
build/

/.eide.usr.ctx.json
/conf.cppcheck
/coretop/.clang-format
/corebt/.clang-format
